@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main {
    width: 100%;
    height: 100vh;
    background-color: #254b62;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .main {
        padding: 0 20vw;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        padding: 0 30vw;
    }
}

.top {
    background-color: #1d3e53;
    color: whitesmoke;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;

}

.header {
    background-color: #1d3e53;
    color: whitesmoke;
    margin: 10px 0 0 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;

    cursor: pointer;
    border-bottom: whitesmoke 3px solid;
}

.day {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        justify-content: unset;
    }

    .flex p {
        margin-bottom: 0;
    }
}

.sunrise-sunset {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.description {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.button.circular.inverted {
    width: 35px;
    height: 35px;
}

.ui.inverted.circular.button {
    color: #77abb7 !important;
    box-shadow: 0 0 0 2px currentColor inset !important;
}


.weather-icon {
    margin-top: 2em;
    width: 50%;
    max-width: 200px;
    animation: icon-animation 10s ease-in-out infinite;
}

@keyframes icon-animation {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(5px) scale(1.05);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(-5px) scale(1.05);
    }
    100% {
        transform: translateX(0px) scale(1);
    }

}